.biography {
  font-size: 20px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin-bottom: 20px;
}
.stanislav {
  width: 100%;
  float: left;
  margin-right: 10px;
  margin-bottom: 10px;
  @include breakpoint($md) {
    width: 50%;
  }
}
