div p {
  margin-top: 10px;
}
.biography.style {
  margin-top: 20px;
  margin-bottom: 0;
}
p.biography.bottom {
  border-bottom: 2px dotted black;
  padding-bottom: 5px;
  @include breakpoint($lg) {
    border-bottom: none;
  }
}
p.biography {
  margin-top: 0;
  margin-bottom: 10px;
 }
.biography {
  font-size: 20px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin-bottom: 20px;
  color: #444444;
}
.left {
  float: left;
  width: 50%;
  filter: grayscale(100%);
  opacity: 0.9;
  margin-top: 10px;
  @include breakpoint($sm) {
    width: 50%;
    padding-right: 15px;
  }
}
p.biography.left-p.margin {
  @include breakpoint($sm) {
    margin-top: 15%;
  }
  @include breakpoint($md) {
    margin-top: 15%;
    width: 53%;
  }
  @include breakpoint($lg) {
    width: 50%;
    margin-top: 25%;
  }
}
.left-p {
  width: 100%;
  display: inline-block;
  @include breakpoint($sm) {
    width: 50%;
    margin-bottom: 0;
    margin-top: 25%;
  }
}
.right {
  width: 100%;
  filter: grayscale(100%);
  margin-bottom: 10px;
  @include breakpoint($sm) {
    float: right;
    width: 49%;
  }
  @include breakpoint($md) {
    width: 37%;
  }
  @include breakpoint($lg) {
    width: 49%;
  }
}
.jelena {
  display: inline-block;
  font-size: 20px;
  border-bottom: 2px dotted black;
  border-top: 2px dotted black;
  @include breakpoint($sm){
    :nth-child(3) {
      margin-top: 0;
    }
  }
  .right-p {
    @include breakpoint($md) {
      width: 50%;
      float: right;
      margin-bottom: 5px;
      margin-top: 5px;
    }
    @include breakpoint($lg) {
      width: 49%;
      margin-top: 10px;
    }
  }
  .slike-2 {
    .left-i {
      width: 100%;
      filter: grayscale(100%);
      margin-top: 10px;
      opacity: 0.9;
      &:last-child {
        margin-bottom: 10px;
      }
      @include breakpoint($md) {
        width: 50%;
        padding-right: 15px;
        float: left;
      }
      @include  breakpoint($lg) {
        width: 51%;
        padding-right: 15px;
        float: left;
      }
    }
  }
}
.pauljev {
  display: inline-block;
  font-size: 20px;
  margin-bottom: 20px;
}
.stanislav {
  width: 100%;
  float: left;
  margin-right: 10px;
  margin-bottom: 10px;
  border-bottom: 5px solid white;
  margin-top: 20px;
  @include breakpoint($md) {
    width: 37%;
    border-right: 5px solid white;
    border-bottom: none;
  }
  @include breakpoint($lg) {
    width: 50%;
  }
}
h3 {
  font-weight: bold;
  color: #444444;
  @include breakpoint($md) {
    margin-top: 0;
  }
  @include breakpoint($lg) {
    margin-top: 20px;
  }
}
.style {
  color: #444444;
  padding: 3px;
}