.copy {
  background-color: #000;
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 10px 0;
  .social-icon {
    text-align: center;
  }
  p {
    text-align: center;
    color: $white;
    margin-bottom: 0;
  }
}

